<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="Sergey Pozhilov (GetTemplate.com)">

  <title>Predict Price Bitcoin</title>
  <meta charset="UTF-8">
  <title>Predict Price Bitcoin</title>
  <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">

  <!-- Bootstrap -->
  <link href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.no-icons.min.css" rel="stylesheet">
  <!-- Icons -->
  <link href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
  <!-- Fonts -->
  <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Alice|Open+Sans:400,300,700">
  <!-- Custom styles -->

  <!--[if lt IE 9]> <script src="assets/js/html5shiv.js"></script> <![endif]-->
</head>

<body class="home">

  <nav class="navbar navbar-default navbar-sticky">
    <div class="container-fluid">

      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span>
          <span class="icon-bar"></span> </button>
      </div>

      <div class="navbar-collapse collapse">

        <ul class="nav navbar-nav">
          <li class="active"><a href="/">Home</a></li>
          <li><a href="/about">About</a></li>
          <li class="dropdown">
            <a href="/pred">Prediction</a>
        </ul>

      </div>
    </div>
  </nav>

  <div class="container">


    <div class="container">
      <center>
        <h2><span>Predict Price Bitcoin</span></h2>
        <img src="{{url_for('static', filename='main.jpg')}}" />
      </center>
      <h3 class="">Overview</h3> <br>
      <p> Everyday, there’s countless emission of carbon dioxide from vehicles that the rider/driver is unaware of. We
        ourselves are unaware of our ecological foot print. Each vehicle has a different build and accordingly different
        emission status. There is no real application in the society currently that keeps records the emission of such
        vehicles. Furthermore, there isn’t a facility for the general public to predict the emission released by their
        vehicle to get an idea of the pollution caused either.
        <br> <br>
        Thus, keeping all this in mind, this application helps the user to get an estimate of the carbon emission from
        their vehicle. Also, it helps the user to see the pollution graph history of the vehicle’s manufacturer and
        suggest alternatives. Simply put it shows the visualization of the datasets and keeps record of them in an
        offline file. Not only that it also exports the form data of the user to an external online sheet. This app will
        prove to be useful to not just the general public but the pollution controlling department. Lastly, it will help
        to promote EVs (electric vehicles).
      </p>
      <p class="text-center">Predict Price Bitcoin</p>
    </div>



  </div> <!-- / section -->


  

  


  <!-- JavaScript libs are placed at the end of the document so the pages load faster -->
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
  <script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
  <script src="assets/js/template.js"></script>




</body>

</html>